<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Library Management</span>
  <span class="example-spacer"></span>

  <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">
    <mat-icon>login</mat-icon>Login
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openLoginFormInDialog('Admin')">Admin</button>
    <button mat-menu-item (click)="openLoginFormInDialog('User')">User</button>
    <button mat-menu-item (click)="openLoginFormInDialog('Librarian')">Librarian</button>
  </mat-menu>
</mat-toolbar>
